.site-header {
  position: sticky;
  top: 0;
  padding: 1.25rem;
  background-color: var(--headers);
  color: var(--darkBg-text);
  text-align: center;
  box-shadow: 0 .25rem .5rem var(--shadow);

  &__title {
    margin: 0;
    padding: 0;
  }
}
