$black: rgb(0, 0, 0);
$red: rgb(200, 16, 46);
$pink: rgb(203, 13, 107);
$off-white: rgb(242, 242, 242);
$light-grey: rgb(193, 193, 193);
$lighter-grey: rgb(218, 218, 218);
$white: rgb(255, 255, 255);
