@use "./color.scss" as colors;

:root {
  --font-family: "Open Sans", sans-serif;
  --font-size: 16px;
  --headers: #{colors.$red};
  --button-background: #{colors.$off-white};
  --button-active-background: #{colors.$pink};
  --button-active-border: #{colors.$black};
  --button-border: #{colors.$light-grey};
  --button-width: 2.5rem;
  --button-height: 2.5rem;
  --appreciation-width: 2.5rem;
  --shadow: #{colors.$lighter-grey};
  --darkBg-text: #{colors.$white};
  --button-font: 1.25rem;
  --blog-post-wrapper-width: 50vw;
  --blog-post-border: #{colors.$light-grey};
}
